<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TOKIMON</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <h1>Hello Trainer!</h1>
    <h3>Welcome to the Tokidex, a place where you can keep track of all the Tokimon you encounter in your adventures.</h3>
    
  </body>
</html>
